#회사명 {
  font-size: 35px;
  margin: none;
}
body{
  margin: 0;
}
.Home {
  background: linear-gradient(#324B4C 2%, 30%, #FBF9F2);
}

.navbar {
  display: flex; /* 요소를 플렉스 박스로 정렬합니다. */
  justify-content: space-between; /* 요소 사이의 공간을 균등하게 분배하여 가운데 정렬합니다. */
  align-items: center; /* 아이템을 수직으로 가운데 정렬합니다. */
  background-color: none; /* 배경색을 어두운 회색으로 지정합니다. */
  color: black; /* 글자색을 흰색으로 지정합니다. */
  padding: 7px 30px; /* 내부 여백을 상하 10px, 좌우 20px로 지정합니다. */
  padding-top: 0;
}
.navbar a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(247, 245, 245, 0.1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.navbar a:hover::after,
.navbar a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


.login  {
  border: 1px solid white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 15px;
  padding: 15px 30px;
  line-height: 15px;
  transition: background-color 0.5s;
  color: white; /* 링크 텍스트의 색상을 흰색으로 지정합니다. */
  text-decoration: none; /* 밑줄을 없앱니다. */
}

.login:hover {
  background-color: #FBF9F2;
  text-decoration: none;
  color: black;
  border: 1px solid #FBF9F2;
}
.image {
  max-width: 80%;
  height: auto;
}


.brand_icon a img {
  width: 150px; /* 브랜드 아이콘의 너비를 40px로 지정합니다. */
  height: auto; /* 높이를 자동으로 조정합니다. */
}
.menu {
  list-style-type: none; /* 목록 마커를 없앱니다. */
  margin: 0; /* 바깥 여백을 없앱니다. */
  padding: 0; /* 내부 여백을 없앱니다. */
  display: flex; /* 요소를 플렉스 박스로 정렬합니다. */
  font-size: 20px;
  padding-left: 20px;
  padding-top: 15px;
  font-weight: 500;
}
.menu li a {
  transition: color 0.5s;
  position: relative;
}
.menu li a:hover {
  color: rgb(134, 133, 133);
}

.menu li {
  margin-right: 35px; /* 메뉴 아이템 사이의 오른쪽 여백을 20px로 지정합니다. */
}

.menu li a {
  color: white; /* 링크 텍스트의 색상을 흰색으로 지정합니다. */
  text-decoration: none; /* 밑줄을 없앱니다. */
  font-size: 20px;
}


.brand_icon img {
  width: 200px;
  height: auto;
}
#title h1 {
  text-align: center;
  padding-top: 40px;
  font-size: 110px;
  font-weight: 900;
  margin-bottom: 5px;
  animation-duration: 2s;
  animation-name: title_slide;
  transition: color 1s;
  color: white;
}

@keyframes title_slide {
  from {
    color: #C6BF9F;

    to {
      color: white;
    }
  }
}
#title p {
  color: rgb(219, 217, 217);
  font-size: 13px;
}


#video_1 {
  padding-top: 60px;
  border-bottom : 1px;
}
#본문 {
  text-align: center;
  font-size: 35px;
  padding-top: 50px;
  font-weight: 200;
}
#본문 span {
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal; 
}
.C p {
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}


#본문_4 {
  text-align: center;
  font-size: 35px;
  padding-top: 50px;
  font-weight: 200;
  line-height: 40px;
}
#본문_4 p {
  padding-bottom: 70px;
}
.J_btn a{
  text-decoration: none;
  color: #324B4C;
}
.J_btn button {
  background-color: #C6BF9F;
  color: #324B4C;
  font-weight: 500;
  margin-top: 30px;
  border: none;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}
.J_btn button:hover {
  background-color: #c7c2ae;
  color: rgb(171, 170, 170);
}


#본문_5 p {
  font-size: 20px;
}

footer {
  background-color: #324B4C;
  color: rgb(112, 110, 110);
  font-size: 30px;
  font-weight: 500px;
  padding: 20px 0s;
  text-align: center;
  margin-top: 150px;
  height: 200px;
}
.container {
  width: 80%;
  margin: auto;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.footer-content p {
  font-weight: 400;
  font-size: 15px;
}
.free_course {
  border: 1px solid white;
  width: 200px;
}
.course_list:hover{
  background-color: black;
}
.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.imagebox{
  width: 3000px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  animation: bannermove 20s linear infinite;
}
.imagebox > div{
  margin: 0px -1px 0px 0px;
}
@keyframes bannermove{
  0%{
    transform: translate(0,0)
  }
  100%{
    transform: translate(-50%,0)
  }
}